
# Ignore Node.js dependency folder in any location
node_modules
/transcription-backend/node_modules

# Ignore Google Cloud credentials file in any location
google-credentials.json
/transcription-backend/google-credentials.json

# Ignore environment files
.env
